// CSS Variables
$fontFamily:'Manrope',
sans-serif;
$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlue : hsl(207, 26%, 17%);
$veryDarkBlueTwo : hsl(200, 15%, 8%);
$darkGray : hsl(0, 0%, 52%);
$veryLightGray : hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);
$heightValue : 70px;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontFamily;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

input:focus {
    outline: none;
}

.form-group {
    margin-left: 4rem;
}

// Styles for NavBar Component
.navHeader {
    width: 100%;
    height: $heightValue;
    line-height: $heightValue;
    background-color: $veryDarkBlueTwo;
    color: $white;

    h4 {
        font-weight: bold;
    }

    .ionicon {
        width: 30px;
        cursor: pointer;
    }
}

.displayData {
    .card {
        img {
            height: 150px;
        }
    }
}